.full-no-image {
  background: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-list {
    padding-left:1em
}

.img-center {
  margin: 0 auto;
    max-width: 69%;
}

.selected {
  color: #fff;
  text-decoration: none;
  background-color: #006699;
  outline: 0;
}

.well {
  background-color: #ffffff;
  margin-top: auto;
}

.navbar-nav > li > a {
  font-size: 12px;
  margin-top: 5px;
}

.navbar {
  min-height: 60px;
}

body {
    margin-top: 75px;
}

footer{
    display: block;
    background-color: #006699;
    padding: 50px 50px 25px 50px;
    color: #FFF;
    /*border-top: 2px solid #000;*/
}

.full-no-image {
  background: white no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-center {
  margin: 0 auto;
}

.selected {
  color: #fff;
  text-decoration: none;
  background-color: #006699;
  outline: 0;
}

.dropdown-menu > li > a {
  line-height: 2;
}

.well {
  padding: 0px 50px 50px 50px;
  background-color: #ffffff;
}

.navbar-nav > li > a {
  font-size: 12px;
  margin-top: 5px;
}

a > .navbar-brand {
  padding: 5px 5px 0px 20px;
  height: 60px;
}

nav > div {
  margin-bottom: 0px;
}

.img-circle {
  margin-bottom: 15px;
}

@media (min-width: 992px){
  .col-md-offset-1 {
      margin-left: 5%;
  }
}

#mainbody {
  margin-top: 20px;
}

#content > .row > .well {
  margin-top: 20px;
}

header {
    background: url("../img/ee1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
